body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.hidden {
  display: none;
}

.loading-screen, .welcome-screen, .quiz, .result {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 350px;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #4CAF50;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 20px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a045;
}

.question-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.option {
  background: #f0f0f0;
  border-radius: 6px;
  margin: 6px 0;
  padding: 8px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.option:hover {
  background: #e0e0e0;
}

.option.selected {
  background: #a9a9a9; 
  color: white;
}

.correct {
  background: #8aff8a;
}

.wrong {
  background: #ff8a8a;
}


/* Timer */
.timer-text {
  font-weight: bold;
  color: #110d0d;
  font-size: 18px;
  margin-bottom: 10px;
}
